:root {
    --teal: #004d40;
    --lime:#827717;
    --burnt:rgb(141, 43, 0.6);
    --burntWashout:rgba(141,43, 0, 0.75);
    --greenWash:rgba(66,151, 130, 0.75);
}

body {
    margin:0;
    margin-top: 0%;
    background-color:#d7ccc8;
    font-family: 'Otomanopee One', sans-serif;
}
/* Navbar */
nav {
    background-color: green;
    color: white;
    justify-content: center;
    position: sticky;
    box-shadow: 0 0 8px 0 grey;
    z-index: 1;
    padding-top: 10px;
    text-shadow: 2px 2px var(--teal);
    background-image: url(./assests/Nav.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.title {
    margin-top: 10px;
    text-align: center;
}

.links {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 1.5rem 2rem;
 text-decoration: none;
 color: white;
 font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Bunuba country dropdown */
.dropdown {
    overflow: hidden;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background-color:var(--greenWash);
}

.dropdownContent a {
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
    background-color: var(--greenWash);
    border-radius: 2rem;
  }

.dropdown:hover .dropdownContent {
    display: block;
}

.container {
    padding: 10px;
}

.intro {
    background-color: var(--lime);
    color:white;
    padding: 10px;
    border-radius: 2rem;
    -moz-box-shadow: 10px 10px 5px #222;
    -webkit-box-shadow: 10px 10px 5px rgb(71, 71, 71);
    /* text-shadow: 2px 2px black; */
}
/* Intro description */
.intro p {
    padding: 20px;
    font-size: 20px;
    margin: 0;
}
/* Bunuba seasons */
.season {
padding: 20px;

}

.season li {
    list-style: none;
}

.season h1 {
    margin-left: 25px;
}

.season-wheels {
    justify-content: center;
}

.season-img{
    height: 300px;
    padding: 30px;
    align-items: center;
}
/* Elder Wiyi section */
.id{ 
    margin-left: 25px;
}

.cards h1 {
    margin-left: 25px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    /* flex-flow: row wrap; */
    padding: 10px;
    justify-content: space-evenly;
    justify-items: flex-end;
}

.card {
    flex: 0 1 24%;
    height: 250px;
    width: fit-content;
    /* box-shadow: 0 0 10px 0 black; */
    justify-content: space-between;
    overflow: hidden;
    -moz-box-shadow: 10px 10px 5px #222;
    -webkit-box-shadow: 10px 10px 5px rgb(71, 71, 71);
    box-shadow: 10px 10px 5px rgb(71, 71, 71);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 1rem;
    padding: 20px;
    border-radius: 2rem;
    background-color: var(--burnt);
    color: white;
    font-size: 20px;
    background-image: url(./assests/set.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: scroll;
    justify-items: flex-start;
}

.card h3 {
    background-color: var(--burntWashout);
    border-radius: 5px;
    padding: 10px;
}

.card p {
    background-color: var(--burntWashout);
    border-radius: 5px;
    padding: 10px;
}

/* iphone X screen */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .intro {
        height: 300px;
        overflow: scroll;
    }

    .cards {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }
}